@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './tokens.css';
@import './components.css';
@import './adaptive.css';

@import "./home.css";
@import "./game.css";
@import "./categories.css";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--nl-background);
    color: var(--nl-text);
    font-family: "Inter", sans-serif;
}

main {
    flex: 1;
}
